--white: #ffffffff;
--rich-black: #00171fff;
--p-blue: #003459ff;
--cg-blue: #007ea7ff;
--carolina-blue: #00a8e8ff;

img {
  max-width: 100%;
  height: auto;
}

.events {
  width: 27%;
  display: block;
  padding-right: 2%;
  margin-bottom: 32px;

  /* ensuring proper layout*/
  float: left;
  /*display: flex; */
}
a.events a{
    text-decoration: none;
}
.event-heading {
  font-weight: 500;
  font-size: 12px;
  color: #AAB2BD;
  text-transform: uppercase;
  text-align: center;
}
.event-info {
  /*padding: 7%;*/
  min-height: 140px;
  display: block;
}
.title
{
  color: rgb(46, 62, 72);
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
-moz-box-orient: vertical;
}

.event-topic {
text-transform: uppercase;
color: rgb(135, 116, 87) !important;
font-size: 14px;
line-height: 1.6;
font-weight: 600;
letter-spacing: -0.02em;
word-spacing: 0.1em
}
.event-host {
margin: 0px auto;
width: 100%;
padding-left: 0px;
padding-bottom: 8px;
padding-top: 8px;
color: rgb(117, 117, 117);
font-size: 14px;
text-decoration: none;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.event-meta {
  color: #AAB2BD;
  font-weight: 300;
  font-size: 11px;
  position: absolute;
  display: flex;
    align-items: flex-end;
  left: 7%;
  bottom: 7%;
}
.event-caption {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 18px;
  color: #AAB2BD;
  
}
.user-profile
{
    position:absolute;              
  bottom:0;                          
  left:0; 
}
.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
                         
}
.flickity-page-dots
{
  visibility: hidden;
}
.cat-name{
  margin-top: 5rem !important
}
@media screen and ( max-width: 680px ) {
  .cat-name{margin-top: 4rem !important;font-size:1rem;}
  /* half-width cells for larger devices */
  .events { width: 100%; }
 
  /*.col-sm-5{display: none;}*/
    .mal{margin-left: -15px;}
  }
  

@media screen and ( max-width: 562px ) {
    .sticky-title {display:  none;}
      .sticky-host {display:  none;}
    #join-btn{
    right: 50px;
    top:20px;
    }
}
/*coppyfidgnadslfkjd slfkdjas f*/
/* formatting */

p {
  margin-bottom: 1em;
}
.button {
  display: block;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #0071fc;
  padding: .5em
}
header{
  padding: 1.5em 3em 1.5em 1.5em;
  
  /*color: #fff;*/
  min-height: 2em;
  /*text-align: center;*/
}
.main {
  padding: 1.5em 3em 1.5em 1.5em;
}
/*.sidebar {
  padding: 2em 1.5em;

}*/
.large-photo {
  height: 100%;
  width:110%;
  margin-bottom: 1em;
  border-radius: 5%;
}
@media (min-width:43.75em) {

  #mtop
  {
    margin-top: 4rem !important;
  }
  /* responsive layout */
  .large-photo {
    height: 100%;
    width:100%;
    border-radius: 10%;
    margin-bottom: 1em;
  }

.sidebar-br
    {
     display: none; 
    }
  .candy-wrapper {
    max-width: 60em;
    margin: 60px;
    position: relative;
  }
  .main {
    display: inline-block;
    width: 75%;
    vertical-align: top;
  }
  .hr-inv{
      display: none;
  }
  .sidebar {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    line-height: 1.5em;
  }
 


  /* loaded fixed-sticky polyfill
  https://github.com/filamentgroup/fixed-sticky */
  .fixedsticky {
    top: 0;
  }
  
}

p span {
  display: block;
}
/*sofmsf*/
.row {
  display: flex;
}

.column {
  /*flex: 2%;*/
  display: flex-end;
  padding: 1px;
}

div.join {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color:white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.join-btn
{
background-color:  #1a5e806e;

font-size: 20px;
font-weight: 500;
position: absolute;
right: 30px;
top:20px;
}
.join-btn:hover{
  background: #417690
}
.sticky-title
{

font-size: 20px;
font-weight: 500;
position: absolute;
left: 30px;
top:20px;
}
.sticky-host
{
font-size: 10px;
position: absolute;
left: 30px;
bottom:10px;
text-transform:capitalize;
font-size:2em;
}
#mtop
{
  margin-top: 2rem;
}



/*comment*/