{% extends "Events/base.html" %}

{% load crispy_forms_tags%}
{%block content%}

<div class="container">
	<div class="form">
    {% if form.errors %}
      
        <div class="alert alert-danger">
             <strong>{{ form.errors|escape }}</strong>
        </div>
       
    {%endif%}
    <form method="POST" class="login-form">
      {% csrf_token%}
      {{form.username}}
      {{form.password}}
      <button type="submit">login</button>
    </form>
      <p class="message">Not registered? <a id="link" href="{%url 'register'%}">Create an account</a></p>
    
    <p class="message"><a id="link" href="{%url 'password_reset'%}">Forget password?</a></p>
    <div class="mt-3">
      <a style="color:black" href="{% url 'social:begin' 'google-oauth2' %}" class="px-2 fa-lg li-ic"><i class="fab fa-google"></i></a>
    <!-- Twitter -->
    <a  style="color:black"class="px-2 fa-lg tw-ic" href="{% url 'social:begin' 'twitter' %}"> <i class="fab fa-twitter"></i></a>
    <!-- Dribbble -->
    <a  style="color:black"class="px-2 fa-lg fb-ic" href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook-f"></i></a>    </div>
  </div>
  </div>
</div>

{% endblock content %}
 

